.terraform/
firstWeek/install_docker/.terraform.lock.hcl
firstWeek/install_docker/terraform.tfstate
firstWeek/install_docker/terraform.tfstate.backup

firstWeek/yaml2infra_For_redis/.terraform.lock.hcl

firstWeek/yaml2infra_For_redis/terraform.tfstate
firstWeek/yaml2infra_For_redis/terraform.tfstate.backup

modules/tencentCvm/.terraform.lock.hcl
modules/docker/.terraform.lock.hcl
modules/tencentCvm/tencentCvm.tftest.hcl
Week10/.ipynb_checkpoints/